---
name: Get updated releases
on:
  # repository_dispatch:
  #   types: [effectively-disabled]
  schedule:
    - cron: '0 0 * * *'

jobs:
  updated:
    name: Get updated
    uses: ./.github/workflows/upstream.updated-releases.yaml
    secrets: inherit
    with:
      versions: |-
        [
          "^v1\.31\.[0-9]+$",
          "^v1\.32\.[0-9]+$",
          "^v1\.33\.[0-9]+$",
          "^v1\.34\.[0-9]+$",
          "^v1\.35\.[0-9]+$",
        ]
